<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de niveles</title>
    <link type="image/png" rel="icon" href="../../resources/img/logo_rical.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/admin_niveles_academicos.css">

</head>

<div id="menuContent"></div>

<body>

    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 mb-4">
                    <div class="card border-primary">
                        <div class="card-body text-center">
                            <img src="../../resources/img/icon_tercer_ciclo.png" class="card-img-top"
                                alt="Imagen 3er Ciclo">
                            <p class="card-text mt-2">Tercer Ciclo</p>
                            <a href="../../views/admin/gestion_3er_ciclo.html" class="btn btn-primary">Acceder</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card border-success">
                        <div class="card-body text-center">
                            <img src="../../resources/img/icon_bachillerato.png" class="card-img-top"
                                alt="Imagen Bachillerato">
                            <p class="card-text mt-2">Bachillerato</p>
                            <a href="../../views/admin/gestion_bachillerato.html" class="btn btn-success">Acceder</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="footerIndex"></div>

    <script src="../../controllers/utils/plantillas.js"></script>
    <script src="../../controllers/utils/cargar_plantillas.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../controllers/utils/secciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../controllers/utils/secciones2,js"></script>
</body>

</html>