<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Propuesta</title>
    <link type="image/png" rel="icon" href="../../resources/img/logo_rical.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/admin.css">

</head>

<div id="menuContent"></div>

<body>
    <div class="container">
        <h3 class="text-center mt-3">Detalles Propuesta</h3>
        <div class="row">


            <div class="col-12 mt-3 mb-4 d-flex justify-content-between ">
                <a href="../../views/admin/admin_propuestas_equipo.html" class="btn btn-outline-dark ">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>

            </div>

            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="nombrePropuesta">Nombre de la propuesta:</label>
                        <input type="text" disabled class="form-control" id="nombrePropuesta">
                    </div>
                    <div class="form-group">
                        <label for="objetivosPropuesta">Objetivos de la propuesta:</label>
                        <input type="text" disabled class="form-control" id="objetivosPropuesta">
                    </div>
                    <div class="form-group">
                        <label for="justificacionPropuesta">Justificación:</label>
                        <input type="text" disabled class="form-control" id="justificacionPropuesta">
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-2">
                </div>
                <div class="mt-5">

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Nombre del archivo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>archivo.pdf</td>
                                <td>
                                    <button type="button" class="boton-redondo btn-p" onclick="openUpdate()">
                                        <i></i>
                                    </button>
                                    <button type="button" class="boton-redondo btn-p" onclick="alertaeliminar()">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <button class="btn btn-info">No aceptar</button>
                <button class="btn btn-success">Aceptar</button>
                <button class="btn btn-danger" onclick="alertaeliminar()">Eliminar propuesta</button>
            </div>
        </div>
    </div>

    <div id="footerIndex"></div>

    <script src="../../controllers/utils/plantillas.js"></script>
    <script src="../../controllers/utils/detalles_propuesta.js"></script>
    <script src="../../controllers/utils/equipos_dt.js"></script>
    <script src="../../controllers/utils/plantillas.js"></script>
    <script src="../../controllers/utils/cargar_plantillas.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../controllers/utils/secciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>