<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes ITR</title>
    <link type="image/png" rel="icon" href="../../resources/img/logo_rical.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/admin_grupos.css">
</head>
<!--Navbar-->
<div id="menuContent"></div>

<body>

    <!-- Navbar -->
    <header>
        <div id="menuContent"></div>
    </header>

    <!-- Contenedor principal -->
    <main class="mt-2">

        <!-- Titulos -->
        <div id="textos" class="container-fluid mt-5 text-center">
            <div class="row justify-content-center">
                <h3>Gestión de Estudiantes</h3>
            </div>
        </div>

        <div class="container mb-3 justify-content-center mt-5">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#AgregarEstudiante" onclick="openCreate()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <!-- Botón para abrir un reporte en formato PDF -->
                        <button type="button" class="btn btn-info" onclick="openReport()">
                            <i class="fa-solid fa-file-csv"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Contenedor de las tablas -->
            <div class="container mb-3 mt-5 justify-content-center">
                <div class="table-responsive">
                    <!-- Columnas -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                            <tr>
                                <td colspan="6" id="rowsFound"></td>
                            </tr>
                            <th>Carnet</th>
                            <th>Nombre Completo</th>
                            <th>Especialidad</th>
                            <th>Correo</th>
                            <th>Curso</th>
                            <th>Acciones</th>
                            </tr>
                        </thead>
                        <!-- Filas -->
                        <tbody id="tableBody"></tbody>
                    </table>
                </div>
            </div>
            <!-- Modal para agregar un administrador -->
            <div class="modal fade" id="AgregarEstudiante" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="saveForm">

                            <!-- Header del modal -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                                <input type="number" class="d-none" id="idEstudiante" name="idEstudiante">
                                <div class="form-group">
                                    <label for="carnet">Carnet:</label>
                                    <input type="text" class="form-control" id="carnetEstudiante"
                                        placeholder="Carnet Estudiante" name="carnetEstudiante" required
                                        oninput="formatAlphabetic(this)">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="nombre">Nombre Completo:</label>
                                    <input type="text" class="form-control" id="nombreEstudiante"
                                        placeholder="Nombre Estudiante" name="nombreEstudiante" required
                                        oninput="formatAlphabetic(this)">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="especialidad">Especialidad:</label>
                                    <select id="especialidadEstudiante" name="especialidadEstudiante"
                                        class="form-select" required>
                                    </select>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="correo" class="form-label">Correo: </label>
                                    <input id="correoEstudiante" type="email" name="correoEstudiante"
                                        class="form-control" required oninput="formatEmail(this)">
                                </div>
                                <div class="form-group mt2">
                                    <label for="curso">Curso:</label>
                                    <select id="cursoEstudiante" name="cursoEstudiante" class="form-select" required>
                                    </select>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="clave">Contraseña:</label>
                                    <input type="password" class="form-control" id="claveEstudiante"
                                         name="claveEstudiante" required oninput="formatPassword(this)">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="confirmarClave" class="form-label">Confirmar contraseña:</label>
                                    <input id="confirmarClave" type="password" name="confirmarClave"
                                        class="form-control" required oninput="formatPassword(this)">
                                </div>
                            </div>

                            <!-- Botones del modal -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>






















    <div id="footerIndex"></div>
    <script src="../../controllers/utils/plantillas.js"></script>
    <script src="../../controllers/utils/cargar_plantillas.js"></script>
    <script src="../../controllers/utils/secciones.js"></script>
    <script src="../../controllers/admin/AlumnoController.js"></script>
    <!-- Librerías de Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

</body>

</html>