<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cursos</title>
        <link type="image/png" rel="icon" href="../../resources/img/logo_rical.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="../../resources/css/admin.css">
        <link rel="stylesheet" href="../../resources/css/admin_cursos.css">
       

</head>
<div id="menuContent"></div>

<body>

        <h3 class="titulotxt">Crear curso, grado, sección o especialidad</h3>
        <div class="container" id="admcursos">
                
                <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="card" style="width: 10rem;">
                                <img src="../../resources/img/Secciones.png" width="200px" alt="200px">
                                <div class="card-body">
                                  <h5 class="card-title">Secciones</h5>
                                  <a href="../../views/admin/admin_secciones.html" class="btn btn-primary">Administrar</a>
                                </div>
                              </div>

                              <div class="card" style="width: 18rem;">
                                <img src="../../resources/img/Grados.png" width="200px"alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Grados</h5>
                                  <a href="../../views/admin/admin_grados.html" class="btn btn-primary">Administrar</a>
                                </div>
                              </div>

                              <div class="card" style="width: 18rem;">
                                <img src="../../resources/img/grupos.jpg" width="200px" >
                                <div class="card-body">
                                  <h5 class="card-title">Grupo</h5>
                                  <a href="../../views/admin/admin_grupo_academicos.html" class="btn btn-primary">Administrar</a>
                                </div>
                              </div>

                              <div class="card" style="width: 18rem;">
                                <img src="../../resources/img/especialidad.png"  width="200px">
                                <div class="card-body">
                                  <h5 class="card-title">Especialidad</h5>
                                  <a href="../../views/admin/admin_especialidad.html" class="btn btn-primary">Administrar</a>
                                </div>
                              </div>
                        
                </div>
        </div>
        

        <div id="footerIndex"></div>

        <script src="../../controllers/utils/plantillas.js"></script>
        <script src="../../controllers/utils/cargar_plantillas.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>