<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de cursos</title>
    <link type="image/png" rel="icon" href="../../resources/img/logo_rical.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/admin_grupos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<div id="menuContent"></div>

<body>

    <div class="container">
        <h3 class="text-center mt-3">Gestionar cursos:</h3>
        <h3 id="mainTitle"></h3>
        <div class="d-flex justify-content-end">
            <!-- Botón para abrir el modal principal -->
            <button type="button" class="boton-redondo" data-toggle="modal" data-target="#modalPrincipal">
                <i class="bi bi-plus-square-fill"></i>
            </button>
        </div>

        <!-- Modal principal -->
        <div class="modal fade" id="modalPrincipal" tabindex="-1" role="dialog" aria-labelledby="modalPrincipalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPrincipalLabel">AGREGAR CURSO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row g-3">
                        <div class="col-sm-12 col-md-6 ">
                            <label for="nombreProducto" class="form-label">Nivel Academico</label>
                            <select class="form-select-borde form-select-vergon" aria-label="Default select example">
                                <option selected>Seleccionar...</option>
                                <option value="1">Bachillerato</option>
                                <option value="2">Tercer Ciclo</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="nombreProducto" class="form-label">Especialidad</label>
                            <select class="form-select-borde form-select-vergon" aria-label="Default select example">
                                <option selected>Seleccionar...</option>
                                <option value="1">Desarrollo de Software</option>
                                <option value="2">Diseño Grafico</option>
                                <option value="3">Arquitectura</option>
                                <option value="4">Automotriz</option>
                                <option value="5">Electromecanica</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="nombreProducto" class="form-label">Grado</label>
                            <input id="nombreProducto" type="text" name="descripcionProducto" class="form-control"
                                required>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="nombreProducto" class="form-label">Profesor a cargo</label>
                            <input id="nombreProducto" type="text" name="descripcionProducto" class="form-control"
                                required>
                        </div>
                        <div class="mt-3 col-sm-12 col-md-6">
                            <label for="nombreProducto" class="form-label">Grupo</label>
                            <select class="form-select-borde form-select-vergon" aria-label="Default select example">
                                <option selected>Seleccionar...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Agregar</button>
                        <button type="button" class="btn2 btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="table-responsive mt-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Nombre de curso</th>
                        <th scope="col" class="text-center">Profesor a cargo</th>
                        <th scope="col" class="text-center">Cant. integrantes para grupo</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-center">curso nombre</th>
                        <th scope="row" class="text-center">Daniel Wilfredo</th>
                        <th>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                    data-target="#modalSecundario">
                                    <i>Asignar</i>
                                </button>
                            </div>
                        </th>
                        <div class="modal fade" id="modalSecundario" tabindex="-1" role="dialog"
                            aria-labelledby="modalPrincipalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalSecundario">Integrantes de grupo disponibles
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body row g-3">
                                        <div class="col-sm-12">
                                            <label for="nombreProducto" class="form-label">Cant. Minima</label>
                                            <input placeholder="3" id="nombreProducto" type="text"
                                                name="descripcionProducto" class="form-control" required>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="nombreProducto" class="form-label">Cant. Maxima</label>
                                            <input placeholder="5" id="nombreProducto" type="text"
                                                name="descripcionProducto" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Agregar</button>
                                        <button type="button" class="btn2 btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <th>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="boton-redondo btn-p" onclick="editarcursos()">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button type="button" class="boton-redondo btn-p" onclick="alertaeliminar()">
                                    <i class="bi bi-trash-fill"></i>
                            </div>
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="editarcursos" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Editar curso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                    </div>
                    <div class="modal-body row g-3">
                            <div class="col-sm-12 col-md-6">
                                    <label for="nombreProducto" class="form-label">nombre curso</label>
                                    <input id="nombreProducto" type="text" name="descripcionProducto"
                                            class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                    <label for="nombreProducto" class="form-label">Profesor acargo</label>
                                    <input id="nombreProducto" type="text" name="descripcionProducto"
                                            class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                    <label for="nombreProducto" class="form-label">Cantidad estudiante</label>
                                    <input id="nombreProducto" type="text" name="descripcionProducto"
                                            class="form-control" required>
                            </div>
                      
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Actualizar</button>
                    </div>
            </div>
    </div>
</div>
    <div id="footerIndex"></div>

    <script src="../../controllers/utils/plantillas.js"></script>
    <script src="../../controllers/utils/cargar_plantillas.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../controllers/utils/secciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>