<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link type="image/png" rel="icon" href="../../resources/img/logo_rical.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/admin.css">
    <link rel="stylesheet" href="../../resources/css/admin_cursos.css">
</head>
<div id="menuContent"></div>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-3 mt-5 justify-content-center">
                <div class="card">
                    <img src="../../resources/img/perfil.png" class="card-img-top" alt="Imagen de perfil">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de Usuario</h5>
                        <p class="card-text">Correo Electrónico</p>
                        <div class="form-group">
                            <button class="open-file">
                                <span class="file-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 71 67">
                                        <path stroke-width="5" stroke="black"
                                            d="M41.7322 11.7678L42.4645 12.5H43.5H68.5V64.5H2.5V2.5H32.4645L41.7322 11.7678Z">
                                        </path>
                                    </svg>
                                    <span class="file-front"></span>
                                </span>
                            </button>

                        </div>
                        <button class="btn btn-primary">Cerrar Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="footerIndex"></div>

    <script src="../../controllers/utils/plantillas.js"></script>
    <script src="../../controllers/utils/cargar_plantillas.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>