<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="image/png" rel="icon" href="../../resources/img/logo_rical.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/admin.css">
    <link rel="stylesheet" href="../../resources/css/inicio.css">
</head>

<div id="menuContent"></div>

<body>

    <main>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card shadow-lg" id="carta">
                        <div class="row g-0">
                            <div class="col-md-7" id="padres">
                                <div class="card-body">
                                    <p class="card-text text-white text-center" id="texto">¡BIENVENIDO!</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <img src="../../resources/img/bienvenida.png" class="img-fluid" alt="Imagen de ejemplo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 col-md-10" id="padre">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card text-white bg-warning mb-3 shadow-lg" id="carta2">
                        <div class="card-body text-center">
                            <h4 class="card-title">Equipos Registrados</h4>
                            <h5 class="card-subtitle">15</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-info mb-3 shadow-lg" id="carta2">
                        <div class="card-body text-center">
                            <h4 class="card-title">Proyectos Aceptados</h4>
                            <h5 class="card-subtitle">21</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white bg-danger mb-3 shadow-lg" id="carta2">
                        <div class="card-body text-center">
                            <h4 class="card-title">Proyectos Cancelados</h4>
                            <h5 class="card-subtitle">4</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>



    <div id="footerIndex"></div>


    <script src="../../controllers/utils/plantillas.js"></script>
    <script src="../../controllers/utils/cargar_plantillas.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Scrip de js con fecha-->
    <script src="../../resources/js/fecha.js"></script>
</body>

</html>