body {
    font-family: Arial, sans-serif;
    margin: 0;
}



.navbar {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 999;
    /*asegura que este debajo del navbar*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background-color: #343a40;
    padding-top: 70px;
    transition: width 0.3s;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar:hover {
    width: 250px;
}

.sidebar a {
    padding: 10px 15px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    /* Oculta el texto que desborda el contenedor */
    white-space: nowrap;
    /* Evita que el texto se ajuste automáticamente a varias líneas */
    transition: padding-left 0.3s;
    /* Transición suave para el desplazamiento del texto */
    margin-top: 2px;
    /* Agrega espacio entre los elementos */
}

.sidebar a:hover {
    background-color: #495057;
}

.sidebar .active {
    background-color: #495057;
}

.sidebar .icon {
    margin-right: 10px;
}

.sidebar:hover a {
    padding-left: 20px;
    /* Desplaza el texto hacia la derecha en hover */
}

.sidebar a .sidebar-text {
    display: none;
    /* Oculta los nombres de los menús inicialmente */
    opacity: 0;
    /* Los hace semi-transparentes */
    transition: opacity 0.3s;
    /* Transición suave para la opacidad */
    font-size: 14px;
    /* Tamaño de fuente más pequeño */
}

.sidebar:hover .sidebar-text {
    opacity: 1;
    /* Muestra los nombres de los menús en hover */
    display: inline;
    /* Muestra los nombres de los menús en hover */
}

.sidebar ul {
    list-style: none;
    /* Quita los estilos de la lista */
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 70px);
    /* Altura máxima menos la altura del navbar */
    overflow-y: auto;
    /* Barras de desplazamiento vertical */
}

.sidebar ul li {
    display: none;
    /* Oculta los elementos de la lista */
}

.collapse.show {
    display: block;
}

@media (min-width: 992px) {

    /* Estilos para pantallas grandes */
    .sidebar ul li {
        display: block;
        /* Muestra los elementos de la lista en pantallas grandes */
    }

    .sidebar:hover a .sidebar-text {
        display: inline;
        /* Muestra los nombres de los menús en hover */
        opacity: 1;
        /* Los hace completamente visibles */
    }
}

.content {
    margin-left: 250px;
    /* Ajusta el margen izquierdo para dar espacio al sidebar */
    padding: 20px;
}

/* css de barra de busqueda*/

.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 14em;
    width: fit-content;
    height: fit-content;
    background-color: #5c6370;
    border-radius: 0.8em;
    overflow: hidden;
}

.btn-p {
    margin-right: 2px;
}

.search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #abb2bf;
}

.inputBox {
    background-color: transparent;
    color: #ffffff;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
}

::placeholder {
    color: #abb2bf;
}

#footer {
    background-color: #b1bdca;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer2 {
    background-color: transparent;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.link2 {
    color: #ffffff;
    text-decoration: none;
}

.titulotxt {
    text-align: center;
}


/* css de boton de card en inicio*/

.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #40B3A2;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover {
    opacity: .95;
}

.btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}


/* ccs de pagina de inicio */

#carta {
    background-color: rgba(12, 24, 87, 1);
    border-radius: 20px;
    align-items: center;
}

#carta-img {
    height: 200px;

}

#carta2 {
    width: 250px;
    margin: 0 10px;
    border-radius: 20px;
}

#carta2 card-title {
    font-size: 24px;
}

#carta2 card-subtitle {
    font-size: 18px;
}

#padres {
    display: flex;
    align-items: center;
}

#padre {
    background-color: rgba(228, 228, 228, 1);
    height: 300px;
    width: 1100px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;

}

#texto {
    font-size: 28px;
    font-weight: bold;
}

/*css de perfil*/

.open-file {
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid rgb(217, 217, 217);
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}

.file-wrapper {
    width: 15px;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.file-wrapper svg {
    width: 100%;
}

.file-front {
    position: absolute;
    width: 100%;
    height: 70%;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
    transform: skewX(-40deg);
    transform-origin: bottom right;
    background-color: white;
    transition: all 0.5s;
    bottom: 0;
}

.open-file:hover .file-front {
    height: 50%;
    transform-origin: bottom right;
    transform: skewX(-55deg);
}

.open-file:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.048);
}

/* css para contenedor de inicio*/

#inicio1{
    margin-right: 5%;
    padding-right: 5%;
}

